<table border="1">
  <tr>
    <th>Action</th>
    <th *ngFor="let col of mockColumns">
      <ng-container *ngIf="col.type === 'explicit'">
        <app-sort-title
          [sortable]="col.sortable"
          (sortChanges)="onSortChanges($event, col.alias, col.sortFn)"
        >
          {{ col.name }}
        </app-sort-title>
      </ng-container>

      <ng-container
        *ngIf="col.type === 'attributed'"
        [ngSwitch]="col.attributeId"
      >
        <app-sort-title
          [sortable]="col.sortable"
          (sortChanges)="
            onSortChanges(
              $event,
              resAttrSortField(col.cellType, col.attributeId),
              col.sortFn
            )
          "
        >
          <span
            [style.color]="
              col.attributeId === PredefinedAttr.Name ? 'green' : null
            "
          >
            {{ col.name }}
          </span>
        </app-sort-title>
      </ng-container>
    </th>
  </tr>
  <tr *ngFor="let row of rows">
    <td>
      <button (click)="edit(row)">Edit</button>
    </td>
    <ng-container *ngFor="let col of mockColumns">
      <td *ngIf="col.type === 'explicit'" (dblclick)="editCell()">
        <ng-container [ngSwitch]="col.alias">
          <ng-container *ngSwitchCase="'owner'">
            {{ row.explicit.owner?.name }}
          </ng-container>
          <ng-container *ngSwitchCase="'id'">
            {{ row.explicit.id }}
          </ng-container>
          <ng-container *ngSwitchDefault> --- </ng-container>
        </ng-container>
      </td>
      <td *ngIf="col.type === 'attributed'" (dblclick)="editCell()">
        <ng-container>
          <ng-container *ngIf="col.cellType === 'text'">
            <ng-container
              *ngIf="col.type === 'attributed'"
              [ngSwitch]="col.attributeId"
            >
              <ng-container *ngSwitchCase="PredefinedAttr.Name">
                <span style="color: green">
                  {{ getTextValue(row, col.attributeId)?.value }}
                </span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ getTextValue(row, col.attributeId)?.value }}
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="col.cellType === 'date'">
            {{col.formValueFn(row.attributed.date[col.attributeId]?.value)}}
            {{ getDateValue(row, col.attributeId)?.value | date }}
          </ng-container>
          <ng-container *ngIf="col.cellType === 'multiList'">
            {{ getMForm(col, row) | json }}
            <ng-container *ngIf="col.cellType === 'multiList'">
            </ng-container>

            <ng-container
              *ngFor="let item of getMultiListValue(row, col.attributeId)"
            >
              <div *ngIf="tags$ | async as tagsState">
                <ng-container *ngIf="tagsState.kind === 'loading'">
                  Loading...
                </ng-container>
                <ng-container *ngIf="tagsState.kind === 'ok'">
                  {{
                    resolveDictionary(tagsState.data, item?.listItemId)?.name
                  }}
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
  </tr>
</table>
