<ng-template #noDataTpl> NO DATA </ng-template>
<ng-template #colsMsgTpl let-text="text">
  <div class="table-msg">
    {{ text || "---" }}
  </div>
</ng-template>
<ng-template #rowsMsgTpl let-columns="columns" let-text="text">
  <tr>
    <td [attr.colspan]="columns || 1">{{ text || "---" }}</td>
  </tr>
</ng-template>

<ng-container *ngIf="columnsState$ | async as columnsState; else noDataTpl">
  <ng-container *ngIf="columnsState.kind === 'warning'">
    <ng-container
      *ngTemplateOutlet="
        colsMsgTpl;
        context: {
          text: columnsState.message
        }
      "
    ></ng-container>
  </ng-container>
  <ng-container *ngIf="columnsState.kind === 'ok'">
    <table class="table">
      <tr>
        <th class="action-col">Action</th>
        <th *ngFor="let col of columnsState.data" [attr.width]="col.width">
          <ng-container *ngIf="col.kind === 'explicit'">
            <am-sort-title
              [sortable]="col.sortable"
              (sortChanges)="onSortChanges($event, col.alias, col.sortFn)"
            >
              {{ col.name }}
            </am-sort-title>
          </ng-container>

          <ng-container
            *ngIf="col.kind === 'attributed'"
            [ngSwitch]="col.attributeId"
          >
            <am-sort-title
              [sortable]="col.sortable"
              (sortChanges)="
                onSortChanges(
                  $event,
                  resAttrSortField(col.cellType, col.attributeId),
                  col.sortFn
                )
              "
            >
              <span
                [style.color]="
                  col.attributeId === PredefinedAttr.Name ? 'green' : null
                "
              >
                {{ col.name }}
              </span>
            </am-sort-title>
          </ng-container>
        </th>
      </tr>
      <ng-container *ngIf="rowsState$ | async as rowsState; else noDataTpl">
        <ng-container *ngIf="rowsState.kind === 'warning'">
          <ng-container
            *ngTemplateOutlet="
              rowsMsgTpl;
              context: {
                columns: getColumnsQty(columnsState.data),
                text: rowsState.message
              }
            "
          ></ng-container>
        </ng-container>
        <ng-container *ngIf="rowsState.kind === 'ok'">
          <tr *ngFor="let row of rowsState.data">
            <td class="action-col">
              <button (click)="onEditRow(row, columnsState.data)">Edit</button>
            </td>
            <ng-container *ngFor="let col of columnsState.data">
              <td
                *ngIf="col.kind === 'explicit'"
                (dblclick)="editCell(col, row)"
              >
                <ng-container [ngSwitch]="col.alias">
                  <ng-container *ngSwitchCase="'author'">
                    {{ row.explicit.author?.name }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'rating'">
                    {{ row.explicit.rating }}
                  </ng-container>
                  <ng-container *ngSwitchDefault> --- </ng-container>
                </ng-container>
              </td>
              <ng-container *ngIf="col.kind === 'attributed'">
                <td (dblclick)="editCell(col, row)">
                  <ng-container *ngIf="col.cellType === 'text'">
                    <ng-container
                      *ngIf="col.kind === 'attributed'"
                      [ngSwitch]="col.attributeId"
                    >
                      <ng-container *ngSwitchCase="PredefinedAttr.Name">
                        <span style="color: green">
                          {{ getTextValue(row, col.attributeId)?.value }}
                        </span>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{ getTextValue(row, col.attributeId)?.value }}
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="col.cellType === 'date'">
                    {{ getDateValue(row, col.attributeId)?.value | date }}
                  </ng-container>
                  <ng-container *ngIf="col.cellType === 'multiList'">
                    <ng-container *ngIf="col.dictionary$ | async as dictState">
                      <ng-container *ngIf="dictState.kind === 'error'">
                        ERROR
                      </ng-container>
                      <ng-container *ngIf="dictState.kind === 'loading'">
                        Loading...
                      </ng-container>
                      <ng-container *ngIf="dictState.kind === 'ok'">
                        <ng-container
                          *ngFor="
                            let item of getMultiListValue(row, col.attributeId)
                          "
                        >
                          <div>
                            {{
                              resolveDictionary(
                                dictState.data,
                                item?.listItemId
                              )?.name
                            }}
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </ng-container>
</ng-container>
