<ng-template #noDataTpl> NO DATA </ng-template>
<ng-template #colsMsgTpl let-text="text">
  <div class="table-msg">
    {{ text || "---" }}
  </div>
</ng-template>

<ng-container *ngIf="columnsState$ | async as columnsState; else noDataTpl">
  <ng-container *ngIf="columnsState.kind === 'warning'">
    <ng-container
      *ngTemplateOutlet="
        colsMsgTpl;
        context: {
          text: columnsState.message
        }
      "
    ></ng-container>
  </ng-container>
  <ng-container *ngIf="columnsState.kind === 'ok'">
    <div>
      <span style="margin-right: 4px">Create column:</span>
      <button
        (click)="onAddTextColumn()"
        style="margin-right: 4px"
        [disabled]="(creatingState$ | async) === 'processing'"
      >
        Text
      </button>
      <button
        (click)="onAddDateColumn()"
        [disabled]="(creatingState$ | async) === 'processing'"
      >
        Date
      </button>
      <span
        *ngIf="(creatingState$ | async) === 'processing'"
        class="processing-box"
        >Creating...</span
      >
    </div>
    <div
      *ngIf="(creatingState$ | async) === 'reject'"
      class="processing-err-box"
    >
      An error occured. Try again.
    </div>
    <ng-container *ngFor="let col of columnsState.data; trackBy: trackByFn">
      <ng-container *ngIf="col.kind === 'explicit'">
        <am-column-form
          [column]="col"
          (editColumn)="onEditColumn($event)"
        ></am-column-form>
      </ng-container>
      <ng-container *ngIf="col.kind === 'attributed'">
        <am-column-form
          [column]="col"
          [canRemove]="canRemove(col)"
          (editColumn)="onEditColumn($event)"
          (removeColumn)="onRemoveColumn($event, col.attributeId)"
        ></am-column-form>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
