:host {
  display: flex;
  height: 100%;
}

.left-side {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.right-side {
  flex-shrink: 0;
  width: 280px;
  position: relative;
  border-left: 1px solid #ddd;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100%;
    padding: 10px;
  }
}
