<div class="left-side">
  <am-common-table
    [columnsState]="columns$ | async"
    [rowsState]="rows$ | async"
    (editRow)="onEditRow($event)"
    (sort)="rowBackend.onSort($event)"
  ></am-common-table>

  <div class="create-btn-box">
    <button [disabled]="showEditForm$ | async" (click)="onCreateNewRow()">
      Create row
    </button>
  </div>

  <am-row-edit-form
    *ngIf="showEditForm$ | async"
    [row]="row"
    [columnsState]="columns$ | async"
    (close)="onCloseRowForm()"
    (save)="onSaveRow($event)"
  ></am-row-edit-form>
</div>
<div class="right-side">
  <am-attribute-configurator
    class="right-side__inner"
    [columnsState]="columns$ | async"
    (editColumn)="onEditColumn($event)"
    (createColumn)="onCreateColumn($event)"
    (removeColumn)="onRemoveColumn($event)"
  ></am-attribute-configurator>
</div>
