<ng-template #noDataTpl> No data </ng-template>

<ng-container *ngIf="dictionary; else noDataTpl">
  <ng-container *ngIf="dictionary.kind === 'error'">
    <select disabled class="select">
      <option selected>No data</option>
    </select>
  </ng-container>
  <ng-container *ngIf="dictionary.kind === 'loading'">
    <select disabled class="select">
      <option selected>Loading...</option>
    </select>
  </ng-container>
  <ng-container *ngIf="dictionary.kind === 'ok'">
    <!-- Workaround because of framework limitation ([multiple]="multiple")
    @link https://github.com/angular/angular/pull/38719
    -->
    <select
      *ngIf="multiple"
      class="select"
      multiple
      [ngModel]="selectedItems"
      (ngModelChange)="changeValue($event)"
    >
      <!-- DO NOT move it to ng-template!
      Than dictionary [1, 2] becomes ['1', '2'] in Form value -->
      <ng-container *ngFor="let item of dictionary.data">
        <option [value]="item.id">{{ item.name }}</option>
      </ng-container>
    </select>
    <select
      *ngIf="!multiple"
      class="select"
      [ngModel]="selectedItems"
      (ngModelChange)="changeValue($event)"
    >
      <ng-container *ngFor="let item of dictionary.data">
        <option [value]="item.id">{{ item.name }}</option>
      </ng-container>
    </select>
  </ng-container>
</ng-container>
